.body {
    min-height:100vh;
    display:grid;
    grid-template-rows: auto 1fr auto;
}
.head {
    border-bottom-style: solid;
    border-color: #cccccc;
    border-width:2px;
    text-align:center;
    color:#ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color:#ffffff;
    width:100%;
    padding-top:8px;
    position:absolute;
    top:0;
    
   
    
   
    
}
#title {
    background-color: #4aaaa5;
    display:inline;
    padding:5px;
    padding-top:8px; 
}
.navigation {
    background-color:#ffffff;
    color:#777777;
    display:inline;
    padding-top:20px;
    margin-left:285px;

}
#subtitle {
    color:#777777;
    display:inline;
    font-family:'Arizonia';
    
}
a:link {
    text-decoration:none;
    color:#777777;
    
}
a:visited {
    text-decoration:none;
    color:#777777;
}
.about {
    position:relative;
    top:75px;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    border-top:1px solid #cccccc;
    width:960px;
    margin:0 auto; 
    background-color:#ffffff;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    padding-left:20px;
    
}
html {
    background-image: url(../images/symphony.png);
    
}
footer {
    background-color:#666666;
    padding-top:10px;
    padding-bottom:10px;
    position:fixed;
    bottom:0;
    border-top-style:solid;
    border-color:#4aaaa5;
    border-width:7px;
    color:white;
    width:100%;
   

}
h2 {
    color:#4aaaa5;
    padding-top:-5px;
    padding-left:20px;
    padding-bottom:10px;
    font-family: 'Georgia', Times, Times New Roman, serif;   
}
#mepic {
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;
}
hr {
    margin-right:20px;
    color:#cccccc;
}
.contactbox {
    padding-bottom:20px;
    padding-top:-20px;
    position:relative;
    top:75px;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    border-top:1px solid #cccccc;
    width:960px;
    margin:0 auto; 
    background-color:#ffffff;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    
}
.break {
    padding-left:20px;
}
#forming {
    margin-top:-25px;
}
.button {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:30px;
    padding-right:30px;
    margin-top:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    cursor: pointer; 
}
.button:hover {
    background-color:black;
}
.linkpic {
    box-sizing: border-box;
    left:20px;
    margin-bottom:30px;
    margin-left:20px;
    border-style:solid;
    border-width: 1px;
    border-color: #777777;

   
    
}
.btn1, .btn2, .btn3 {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:30px;
    padding-right:30px;
    margin-top:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.container {
    position: relative;
    width: 50%;
    
  }
   
  .container .btn1 {
    position: absolute;
    top:-2px;
    left:20px;
    font-size: 16px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:75px;
    padding-right:68px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn1:hover {
    background-color: black;
  }
  .container .btn2 {
    position: absolute;
    top:-2px;
    left:20px;
    font-size: 16px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:34px;
    padding-right:34px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn2:hover {
    background-color: black;
  }
  .container .btn3 {
    position: absolute;
    top:-2px;
    left:20px;
    font-size: 16px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:60px;
    padding-right:40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn3:hover {
    background-color: black;
  }
  #bassoonpic {
      position:absolute;
      top:104px;
      left:270px;
      float:left;
     
  }
 
  @media screen and (min-width:641px) and (max-width:768px) {


    #title {

        position:static;
        left:0;
        display:block;
    margin-left:-400px;
    
    
}
        #subtitle {
        
        text-align: left;
        padding-bottom:5px;
        margin-bottom:5px;
        position:static;
        left:1;
        display:block;
        float:left;
        margin-top:-75px;
        margin-left:310px;
        padding-bottom:55px;
        padding-top:15px;
        background-color:white;
        
        
        }
        .navigation {min-width:100%;
         
          margin-left:0px;
          text-align:left;
          padding-top:5px;
          
          padding-bottom:5px;
          position:static;
          left:0;
          display:block;
          margin-top:-40px;
          text-align:center;
          float:left;
          
        
        
        }
        .about {
            margin-top:150px;
            overflow-wrap:break-word;
            word-wrap:break-word;
            width:600px;
            height:550px;
            
        }
        #pOne{ float:left;
            position:absolute;
            top:100px;
            right: 20px;
            max-width:350px;
            overflow-wrap:break-word;
            word-wrap:break-word;
        }
        #pTwo{
            float:none;
            position:absolute;
            top:180px;
            right:20px;
            max-width:350px;
            overflow-wrap:break-word;
            word-wrap:break-word;
        }
        #pThree{
            float:none;
            position:absolute;
            top:320px;
            max-width:600px;
            overflow-wrap:break-word;
            word-wrap:break-word;
        
        }
        
        #pFour{
            float:none;
            position:absolute;
            top:370px;
            max-width:600px;
            overflow-wrap:break-word;
            word-wrap:break-word;
            margin-left:-20px;
        }
        #pFive{
            float:none;
            position:absolute;
            top:450px;
            max-width:600px;
            overflow-wrap:break-word;
            word-wrap:break-word;
            margin-left:-20px;
        }
        footer {position:absolute;
        bottom:-440px;}


}
  







  @media screen and (max-width:640px) {


#title {

position:static;
left:0;
display:block;}
#subtitle {

text-align: left;
padding-bottom:5px;
margin-bottom:5px;
position:static;
left:0;
display:block;

}
.navigation {min-width:100%;
 
  margin-left:0px;
  text-align:left;
  padding-top:5px;
  margin-top:5px;
  padding-bottom:5px;
  position:static;
  left:0;
  display:block;

}
.about {
    margin-top:150px;
    overflow-wrap:break-word;
    word-wrap:break-word;
    width:250px;
    height:1100px;
    
}
#pOne{ float:none;
    position:absolute;
    top:350px;
    max-width:250px;
    overflow-wrap:break-word;
    word-wrap:break-word;
}
#pTwo{
    float:none;
    position:absolute;
    top:470px;
    max-width:250px;
    overflow-wrap:break-word;
    word-wrap:break-word;
}
#pThree{
    float:none;
    position:absolute;
    top:650px;
    max-width:250px;
    overflow-wrap:break-word;
    word-wrap:break-word;

}

#pFour{
    float:none;
    position:absolute;
    top:770px;
    max-width:250px;
    overflow-wrap:break-word;
    word-wrap:break-word;
    margin-left:-20px;
}
#pFive{
    float:none;
    position:absolute;
    top:930px;
    max-width:250px;
    overflow-wrap:break-word;
    word-wrap:break-word;
    margin-left:-20px;
}
footer {position:absolute;
bottom:-1000px;}
}


@media screen and (min-width:769px) and (max-width:980px) {


    #title {
        position:static;
        float:left;
        display:block;
    }
        
        
        #subtitle {
        text-align: left;
        margin-top:30px;
        
        position:static;
        left:0;
        display:block;
        float:left;
        }
        .navigation {min-width:100%;
         
          margin-left:10px;
          
          padding-top:5px;
          margin-top:40px;
          
          position:static;
          left:0;
          display:block;
        
        
        }
        .about {
            margin-top:50px;
            overflow-wrap:break-word;
            word-wrap:break-word;
            width:750px;
            height:530px;
            
        }
        #pOne{ float:none;
            position:absolute;
            top:100px;
            right:10px;
            max-width:500px;
            overflow-wrap:break-word;
            word-wrap:break-word;
        }
        #pTwo{
            float:none;
            position:absolute;
            top:190px;
            right:10px;
            max-width:500px;
            overflow-wrap:break-word;
            word-wrap:break-word;
        }
        #pThree{
            float:none;
            position:absolute;
            top:300px;
            max-width:700px;
            margin-left:20px;
            overflow-wrap:break-word;
            word-wrap:break-word;
        
        }
        
        #pFour{
            float:none;
            position:absolute;
            top:350px;
            max-width:720px;
            overflow-wrap:break-word;
            word-wrap:break-word;
            
        }
        #pFive{
            float:none;
            position:absolute;
            top:420px;
            max-width:700px;
            overflow-wrap:break-word;
            word-wrap:break-word;
            
        }
        footer {position:absolute;
        bottom:-300px;}
        }









}